<section
  class="hero-section d-flex align-items-center justify-content-center text-center text-white"
>
  <div class="container">
    <h1 class="display-3 fw-bold mb-3 animated-fade-in">Bienvenid@ a Fahsi Lounge</h1>
    <p class="lead animated-slide-up">
      Tu lugar ideal para disfrutar de copas, cervezas, cachimbas y juegos.
    </p>
    <p class="lead animated-slide-up">Martes a Domingo, de 18:00 a 02:00</p>
    
  </div>
</section>

<div class="container my-5">
  <h1 class="text-center fw-bold mb-4">Nuestras Secciones</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col">
      <div class="glass-card">
        <img src="assets/blacklabel.jpg" class="card-img-top" alt="Copas" />
        <div class="card-body text-center">
          <h5 class="card-title fw-bold">Copas</h5>
          <a routerLink="/copas" class="btn btn-outline-light">Ver Copas</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="glass-card">
        <img src="assets/cerveza.jpeg" class="card-img-top" alt="Cervezas" />
        <div class="card-body text-center">
          <h5 class="card-title fw-bold">Cervezas</h5>
          <a routerLink="/cervezas" class="btn btn-outline-light">Ver Cervezas</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="glass-card">
        <img src="assets/cachimba.jpg" class="card-img-top" alt="Cachimbas" />
        <div class="card-body text-center">
          <h5 class="card-title fw-bold">Cachimbas</h5>
          <a routerLink="/cachimbas" class="btn btn-outline-light">Ver Cachimbas</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="glass-card">
        <img src="assets/billar.jpg" class="card-img-top" alt="Juegos" />
        <div class="card-body text-center">
          <h5 class="card-title fw-bold">Juegos</h5>
          <a routerLink="/juegos" class="btn btn-outline-light">Ver Juegos</a>
        </div>
      </div>
    </div>

    
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-12 col-md-6 col-lg-3">
      <div class="glass-card">
        <img src="assets/eventos.jpg" class="card-img-top" alt="Eventos" />
        <div class="card-body text-center">
          <h5 class="card-title fw-bold">Reserva para tu evento</h5>
          <a routerLink="/contacto" class="btn btn-outline-light">Organiza tu Evento</a>
        </div>
      </div>
    </div>
  </div>

</div>
