<div class="glass-rectangle">
  <h1 class="text-center fw-bold mb-5">Contacto</h1>

  <div class="row g-5">
    
    <div class="col-lg-6">
      <h3 class="fw-bold mb-3">Información</h3>
      
      <ul class="contact-list list-unstyled">
        <li>
          <i class="bi bi-geo-alt-fill"></i>
          <div>
            <strong>Ubicación</strong>
            <p>Plaza Comadrona Rosario Soler Nº3<br> Xirivella, Valencia</p>
          </div>
        </li>
        <li>
          <i class="bi bi-telephone-fill"></i>
          <div>
            <strong>Teléfono</strong>
            <p>(+34) 622 491 470</p>
          </div>
        </li>
        <li>
          <i class="bi bi-envelope-fill"></i>
          <div>
            <strong>Email</strong>
            <p>fahsilounge@gmail.com</p>
          </div>
        </li>
      </ul>

      <h3 class="fw-bold mt-5 mb-3">Síguenos</h3>
      <div class="social-icons">
        <a href="https://www.instagram.com/fahsilounge/" target="_blank" class="social-icon bi bi-instagram"></a>
        <a href="https://www.tiktok.com/@fahsi.lounge" target="_blank" class="social-icon bi bi-tiktok"></a>
        <a href="https://www.facebook.com/fahsilounge" target="_blank" class="social-icon bi bi-facebook"></a>
      </div>
    </div>

    <div class="col-lg-6">
      <h3 class="fw-bold mb-3">Cómo llegar</h3>
      <div class="map-container">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2787.4903319381765!2d-0.4344037245659828!3d39.46306651313054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f43b907a56d%3A0x90cc2d8634992415!2sFahsi%20Lounge!5e1!3m2!1ses!2ses!4v1762384634662!5m2!1ses!2ses" 
          width="100%" 
          height="450" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>

  </div>
</div>