<div class="glass-rectangle">
  
  <h1 class="text-center fw-bold mb-4">Carta de Copas</h1>

  <div *ngIf="copas$ | async as copas; else loading">
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col" class="text-end">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let copa of copas">
          <td>
            <div class="fw-bold">{{ copa.nombre }}</div>
            <div class="text-white-50 small">{{ copa.descripcion }}</div>
          </td>
          <td class="text-end fw-bold align-middle">
            {{ copa.precio | currency:'EUR' }}
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <ng-template #loading>
    <p class="text-center">Cargando carta...</p>
  </ng-template>

</div>