<div class="glass-rectangle">
  
  <h1 class="section-title mb-4">Carta de Copas</h1>

  <div *ngIf="copasPorSubcategoria$ | async as secciones; else loading">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col" class="text-end">Precio</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let seccion of secciones">
          <tr class="category-row">
            <th colspan="2" scope="colgroup">{{ seccion.nombre }}</th>
          </tr>
          <tr *ngFor="let copa of seccion.productos">
            <td>
              <div class="fw-bold">{{ copa.nombre }}</div>
              <div class="text-white-50 small">{{ copa.descripcion }}</div>
            </td>
            <td class="text-end fw-bold align-middle">
              {{ copa.precio | currency:'EUR' }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <p *ngIf="secciones.length === 0" class="text-center text-white-50">No hay copas disponibles en este momento.</p>

  </div>

  <ng-template #loading>
    <p class="text-center">Cargando carta...</p>
  </ng-template>

</div>
