@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


body {
  
  font-family: 'Poppins', sans-serif; 
  
  
  
  background: linear-gradient(to bottom right, #343a40, #1a1d20);
  background-attachment: fixed; 

  
  color: #f8f9fa;
}


main {
  
  padding-top: 120px; 
 
  
  
  padding-bottom: 100px;
}